/*----------------------NEW POLICE--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');





/*----------------SUR LA PAGE ENTIERE----------------*/
li{
    list-style: none;
}

html{
    width: 1500px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

header, main, footer{
    margin: 25px 50px 25px 50px;
}

a{
    text-decoration: none;
}




/*----------------------HELPERS------------------------*/
.flex{
    display: flex;
}

.space-around{
    justify-content: space-between;
}

.bold{
    font-weight: bold;
}

.colorblue{
    color: blue;
}

.marginleft-null{
    margin-left: 0xp;
}

.color-gray{
    background-color: rgb(240, 238, 238);
}

.wrap{
    flex-wrap: wrap;
}

.border{
    border: 1px solid black;
}


/*----------------NAVIGATION------------------*/

.nav{
    padding-left: 0px;
}

/*Text Hebergement*/
.bordertop{
    border-top: 4px solid blue;
    padding-top: 22px;
}

.margin-left{
    margin-left: 100px;
}

.colorblack{
    color: rgb(0, 0, 0);
}


/*-------------------HEADER (hors Nav)--------------------*/
.icone-localisation{
    background-color: rgb(212, 212, 212);
    border: 1px solid rgb(212, 212, 212);
    border-radius: 15px 0px 0px 15px;
    padding: 15px 10px 0px 10px;
}

.text-localisation{
    border: 1px solid rgb(212, 212, 212);
    padding: 0px 40px 0px 10px;
}

.text-localisation p{
    margin: 10px 0px;
    padding-top: 5px;
}

.recherche button{
    border: 1px solid blue;
    height: 50px;
    width: 120px;
    border-radius: 0px 15px 15px 0px;
    background-color: blue;
    color: white;
}





.padding-left{
    padding-left: 0px;
}
.margin-top{
    margin-top: 35px;
}
.filtres{
    padding-top: 10px;
    padding-right: 40px;
}

.economique li{
    padding-top: 1px;
    padding-left: 1px ;
    border:1px solid rgb(212, 212, 212);
    border-radius: 25px;
    width: 170px;
    margin-right: 20px;
}


.economique li i{
    margin-right: 20px;
    background-color: skyblue;
    color: blue;
    border-radius: 25px;
    padding: 6px;
}

.familial li{
    padding-top: 1px;
    padding-left: 1px ;
    border:1px solid rgb(212, 212, 212);
    border-radius: 25px;
    width: 120px;
    margin-right: 20px;
}
.familial li i{
    margin-right: 20px;
    background-color: skyblue;
    color: blue;
    border-radius: 25px;
    padding: 6px;
}

.romantique li{
    padding-top: 1px;
    padding-left: 1px ;
    border:1px solid rgb(212, 212, 212);
    border-radius: 25px;
    width: 150px;
    margin-right: 20px;
}
.romantique li i{
    margin-right: 20px;
    background-color: skyblue;
    color: blue;
    border-radius: 25px;
    padding: 6px;
}

.animals li{
    padding-top: 1px;
    padding-left: 1px ;
    border:1px solid rgb(212, 212, 212);
    border-radius: 25px;
    width: 200px;
    margin-right: 20px;
}
.animals li i{
    margin-right: 20px;
    background-color: skyblue;
    color: blue;
    border-radius: 25px;
    padding: 6px;
}




/*-----------------------MAIN--------------------*/
/*INFO*/
main .info i{
    margin-right: 10px;
}

.hebergement{
    width: 800PX;
    margin-right: 40px;
    padding: 20px 20px 20px 20px;
    border-radius: 25px;
}
.zone-hebergements{
    background-color: white;
    border: 3px solid white;
    box-shadow: 5px 5px 5px rgba(151, 147, 147, 0.671);
    border-radius: 25px;
    padding: 5px;
    margin: 10px;
}
.image-hebergements{
    height: 130px;
    width: 230px;
}
.bord-arrondi-bas{
    border-radius: 20px 20px 0px 0px;
}
.bord-arrondi-droite{
    border-radius: 20px 0px 0px 20px;
    margin-right: 10px;
}
.titre3{
    margin: 5px 10px;
}
.logo-populaire{
    justify-content: space-between;
}

.star{
    margin-left: 15px;
    margin-top: 5px;
}




/*BLOC POPULAIRE*/
.populaire{
    width:370px ;
    margin-right: 40px;
    padding: 20px 40px 20px 40px;
    border-radius: 25px;
}

.image-populaire{
    height: 120px;
    width: 130px;
}
.zone-populaire{
    background-color: white;
    border: 3px solid white;
    box-shadow: 5px 5px 5px rgba(151, 147, 147, 0.671);
    border-radius: 25px;
    padding: 5px 5px 5px 5px;
    margin: 15px 9px 9px 9px;
}
.zp-marge{
    margin-top: 50px;
    margin-bottom: 50px;
}

.icone-graph{
    padding-top: 25px;
    padding-right: 20px;
}



/*BLOC ACTIVITES*/
.bloc-main-bas{
    margin-top: 50px;
}

.bloc-main-bas-gauche{
    margin-top: 20px;
}

.vieux-port{
    height: 460px;
    box-shadow: 5px 5px 5px rgba(151, 147, 147, 0.671);
    border-radius: 25px;
    margin: 0px 41px 0px 0px;
}

.image-act-grande{
    height: 400px;
    width: 300px; 
}
.fort-et-iles{
    margin-right: 41px;
}

.image-act-petite{
    height: 155px;
    width: 300px;
}
.parc-national{
    height: 460px;
    box-shadow: 5px 5px 5px rgba(151, 147, 147, 0.671);
    border-radius: 25px;
    margin-right: 41px;
}

.notre-dame-et-parc{
    margin-right: 41px;
}

.shadow{
    height: 215px;
    box-shadow: 5px 5px 5px rgba(151, 147, 147, 0.671);
    border-radius: 25px;
    margin-bottom: 28px;
}

.titre3-bas{
    margin-top: 10px;
    padding-left: 20px;
}






/*-----------------FOOTER------------------*/
footer ul{
    padding-left: 0px;
}

footer li{
    padding-bottom: 5px;
}

.nos-hebergements{
    margin-left: 200px;
}

.assistance{
    margin-left: 300px;
}

.a-propos{
    padding-left: 30px;
}






/*----------------------RESPONSIVE--------------------*/

/*PETIT ECRAN*/
@media screen and (max-width:600px) {

    /*NAV*/
    .petit-ecran-column {
        display: flex;
        flex-direction:column;
    }

    .bordertop{
        border-top: none;
    }


    .petit-ecran-nav li:first-of-type{
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
        border-bottom: 4px solid blue ;
        padding-bottom: 15px;
        padding-top: 20px;
    }

    .petit-ecran-nav li:nth-of-type(2){
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
        border-bottom: 4px solid rgb(233, 233, 238) ;
        padding-bottom: 15px;
        padding-top: 20px;
    }

    .petit-ecran-nav li:last-of-type{
        position: absolute;
        top: 41px;  
        left: 350px;      
    }






    /*-------TOTALITE DE LA PAGE--------*/
    html body{
        padding: 0px;
        margin: 0px;
        width: 600px;
    }

    main{
        margin: 25px 0px;
    }

    header{
        margin-left: 0px;
    }





    /*-------HEADER--------*/
    .info{
        margin: 30px 0px 30px 0px;
    }

    li{
        margin-top: 15px;
        margin-left: 30px;
    }

    p{
        margin-bottom: 30px;
        margin-left: 30px;
    }

    h1{
        width: 350px;
        font-size: 25px;
        margin-top: 50px;
        margin-left: 30px;
    }

    .recherche button{
        text-indent: -999em;
        width: 50px;
        background-image: url(../logo/loupe.svg);
        background-size: 20px;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }


    .pe-borderradius{
        border: 1px solid rgb(212, 212, 212);
        border-radius: 15px;
        width: 258px;
        margin-left: 30px;
    }
    
    .text-localisation{
        border: none;
    }






    /*-------HEBERGEMENTS--------*/
    .pe-column-reverse{
        flex-direction: column-reverse;
    }

    .hebergement{
        background-color: white;
        margin-left: 30px;
    }

    .zone-hebergements{
        width: 410px;
    }

    #hebergement{
        margin-left: 25px; 
    }

    .pe-affich{
        margin-left: 20px;
        font-size: 22px;
    }

    .image-hebergements{
        width: 100%;
    }


    /*-------LES + POPULAIRES--------*/
    .populaire{
        margin: 0px;
        padding: 0px 70px 30px 0px;
        width: 500px;
        border-radius: 0px;
    }

    .logo-populaire h2{
        margin-left: 25px; 
    }

    .zone-populaire{
        margin: 10px 10px 20px 60px;
    }

    .star{
        color: blue;
    }





    /*-------ACTIVITES---------*/
    .pe-column{
        flex-direction: column;
    }
    
    .pe-cadre{
        margin-left: 60px;
        width: 430px;
    }

    .image-act-petite {
        width: 100%;
    }
    .image-act-grande{
        width: 100%;
        height: 160px;
    }

    .parc-national {
        margin: 0px 0px 28px 0px;
        width: 430px;
        margin-left: 60px;
        height: 225px;
    }

    .vieux-port{
        margin: 0px 0px 28px 0px;
        width: 430px;
        margin-left: 60px;
        height: 225px;
    }

    #activités{
        margin-left: 70px; 
        margin-bottom: 40px;
    }




    /*-------FOOTER---------*/
    footer{
        display: flex;
        flex-direction: column;
        margin: 0%;
        padding: 0%;
    }

    .nos-hebergements{
        margin: 0px;
        padding-left: 30px;
    }

    .assistance{
        margin: 0px;
        padding-left: 30px;
    }


}



/*TABLETTE*/
@media screen and (max-width:768px) and (max-width:996px) {
    
}
